h1 {
	font-size: 2em;
}

h2 {
	font-size:  1.5em;
}

.language {
	display: inline-block;
	font-weight:  bolder;
}

a[href="https://perpetual.education"] {
	display: inline-block;
	color: red;
}

inner-column {
	line-height: 1.5;
	padding: 5px;
	margin-right: auto;
	margin-left: auto;
	max-width: 700px;
}

/*home page*/
ul.skill-list {
	margin-top: 10px;
	line-height:  2;
}

nav a {
	display: inline-block;
	margin:  5px;
	text-decoration: none;
}

/*resume page*/
.resume-data p + h2, .goal-data p + h2 {
	margin-top: 20px;
}

/*goals page*/
.goal-list {
	line-height: 1.5;
}

.goal-list li + li {
	margin-top: 15px;
}

.goal-list strong {
	font-weight: bolder;
	font-size: 1.8em;
}

.goal-expanded {
	list-style: square;
}


